<div class="container">
  <div class="content">

    <div class="about block">
      <p class="header">Холодильник, который<br>используется с умом</p>
      <p class="sub-header">сервис для контроля продуктов в вашем холодильнике</p>
      <a routerLink="/profile"><button class="solid-btn">начать работу</button></a>
      <img src="main-page-img.png">
    </div>

    <div class="services block">
      <p class="header">Сервисы и услуги</p>

      <div class="cards-container">
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
      </div>
    </div>

    <div class="services block">
      <p class="header">Актуально сейчас</p>

      <div class="cards-container">
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
        <div class="card">
          <p class="card-header">Менеджер холодильника</p>
          <p class="card-info">Наш сервис предоставляет менеджера вашего холодильника, который будет напоминать вам о скором окончании срока годности ваших продуктов.</p>
          <a class="card-link" routerLink="/profile">Подключить</a>
        </div>
      </div>
    </div>

  </div>
</div>
